*{
  margin:0;
  padding:0;
  font-family: "Poppins";
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  background-color: #fff;
  min-height: 100vh;
  max-width: 100vw;
}

header{
  position: absolute;
  top:0;
  left:0;
  width:100vw; 
  padding:2vh 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo{
  color:#112345;
}

.logo img{
  width:8vw;
}

.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2vw;
}

.navigation li{
  list-style: none;

}
.navigation li a{
  text-decoration: none;
  padding: 1vh 2vw;
  color:#112434;
  border-radius: 20px;
}
.navigation li a:hover, .navigation li a.active{
  /* filter:invert(100); */
  background: #112345;
  color:white;
}

.parallax{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.parallax img{
  position: absolute;
  bottom: 0;
  left: 0;
  width:100vw; 
  pointer-events: none;
}

#title-text{
  position: absolute;
  top:30vh;
  left:50vw;
  /* transform: translateY(-25vw); */
  font-size: 6vw;
  font-weight: 700;
  color:#112345;
}

/* #m1,#m2,#t1,#plants,#t1,#t2{
  filter: invert(100);
} */
.second{
  position: relative;
  padding: 4vw;
  background: #112434;
}

.second h2{
  font-size: 3em;
  color:#fff;
  margin-bottom: 10px;
}

.second p{
  color: #fff;
  font-size: 1em;
  font-weight: 300 ;
}

.member{
  position: absolute;
  top:20vh;
  color:#112434;
  width:100vw;
  align-items: center;
}

.member .container{
  align-items: center;
}
.member .container h1{
  text-align: center;
}

.img-box{
  justify-content: center;
  align-items: center;
}
.img-box img{
  height: 15vh;
  overflow:hidden;
}

.circle{
  margin: 5vh auto 0;
  position: relative;
  width:200px;
  height: 200px;
  /* background: #ccc; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.img-box{
  position: absolute;
  width:150px;
  height: 150px;
  background: url(images/member1.jpg);
  background-size:cover ;
  border-radius: 50%;
  /* filter: brightness(1.5) contrast(1.5); */

}

.img-box-text{
  position: absolute;
  width: 100%;
  height: 100%;
  animation:rotateText 10s linear infinite;
  z-index: -1;
}

@keyframes rotateText {
  0%{
    transform:rotate(360deg);
  }
  100%{
    transform:rotate(0deg);
  }

  
}

.img-box-text span{
  position: absolute;
  left:50%;
  font-size: 1.2em;
  transform-origin: 0 100px;

}

.img-box:hover{
  width:200px;
  height: 200px;
}

@media screen and (max-width:500px) {
  #title-text{
    position: absolute;
    left:20vw;
    top:50vh;
    font-size: 20vw;
    font-weight: 900;
    color:#112345; 
  }
}

.library{
  position: absolute;
  top:20vh;
  color:#112434;
  width:100vw;
  display:flex;
  flex-direction: column;
  direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin:0 auto;
}

.library p{
  padding:2vh 4vw;
}

.library table{
  margin:0 5vw;
}
